# Byte-compiled / optimized / DLL files
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.bak
config.ini
usage_stats.json
rest_reminder.log
screenshot_bot.log
screenshots/
dist/
build/


# Virtual environment
venv/
env/
*.env


# PyCharm
.idea/

# Logs and databases
*.log
*.sqlite3